<launch>
  <include file="$(find jackal_description)/launch/description.launch">
    <arg name="config" value="base" />
  </include>

  <!-- <include file="$(find object_tracking)/launch/ <camera> .launch" /> -->

  <node pkg="object_tracking" name="joy_start"  type="joy_start.py" output="screen" required="true" />

</launch>
